@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/*  PC  */
@media (min-width: 901px) {
  .initial-load-section {
    display: block;
  }

  .initial-load-section-mobile {
    display: none !important;
  }
}

/*  MOBILE  */
@media (max-width: 900px) {
  .initial-load-section {
    display: none !important;
  }

  .initial-load-section-mobile {
    display: block;
  }
}

/* unified title responsive styles */
@media (max-width: 900px) {
  .unified-title {
    top: 103px;
  }
  .unified-title h1 {
    gap: 15px;
  }
  .unified-title h1 span:first-child {
    font-size: 14px;
  }
  .unified-title h1 span:last-child {
    font-size: 20px;
    line-height: 50px;
  }
}

@media (min-width: 901px) {
  .unified-title {
    top: 100px;
  }
  .unified-title h1 {
    gap: 30px;
  }
  .unified-title h1 span:first-child {
    font-size: 34px;
  }
  .unified-title h1 span:last-child {
    font-size: 80px;
    line-height: 155px;
  }
}


